*~
.DS_Store
figs/
caffe/*.h5
tile.mp4
caffe/*.swp
caffe/*.caffemodel
caffe/*.solverstate
*.asv
*.js
*.json
images/
frames/**/*.mat
!frames/**/has_label.mat
!frames/**/label.mat
!frames/**/label_simple.mat
!frames/**/sun.mat
!frames/**/sun_frame.mat
!frames/bbox.mat