*~
.DS_Store
figs/
caffe/*.h5
tile.mp4
caffe/*.swp
caffe/*.caffemodel
caffe/*.solverstate
*.asv
js/
json/
images/
errorLog.txt

frames/**/*

!frames/2015-05-01.timemachine/
!frames/2015-05-01.timemachine/**/
!frames/2015-05-02.timemachine/
!frames/2015-05-02.timemachine/**/
!frames/2015-05-03.timemachine/
!frames/2015-05-03.timemachine/**/
!frames/2015-05-04.timemachine/
!frames/2015-05-04.timemachine/**/
!frames/2015-05-05.timemachine/
!frames/2015-05-05.timemachine/**/
!frames/2015-05-06.timemachine/
!frames/2015-05-06.timemachine/**/
!frames/2015-05-07.timemachine/
!frames/2015-05-07.timemachine/**/
!frames/2015-05-08.timemachine/
!frames/2015-05-08.timemachine/**/
!frames/2015-05-09.timemachine/
!frames/2015-05-09.timemachine/**/

!frames/2015-01-26.timemachine/
!frames/2015-01-26.timemachine/**/
!frames/2015-02-10.timemachine/
!frames/2015-02-10.timemachine/**/
!frames/2015-03-06.timemachine/
!frames/2015-03-06.timemachine/**/
!frames/2015-04-02.timemachine/
!frames/2015-04-02.timemachine/**/
!frames/2015-05-28.timemachine/
!frames/2015-05-28.timemachine/**/
!frames/2015-06-11.timemachine/
!frames/2015-06-11.timemachine/**/
!frames/2015-07-08.timemachine/
!frames/2015-07-08.timemachine/**/
!frames/2015-08-13.timemachine/
!frames/2015-08-13.timemachine/**/
!frames/2015-09-09.timemachine/
!frames/2015-09-09.timemachine/**/
!frames/2015-10-05.timemachine/
!frames/2015-10-05.timemachine/**/
!frames/2015-11-15.timemachine/
!frames/2015-11-15.timemachine/**/

!frames/2015-11-26.timemachine/
!frames/2015-11-26.timemachine/**/

!frames/bbox.mat
!frames/sun.mat
!frames/**/label_simple.mat
!frames/**/has_label.mat
!frames/**/label.mat