*~
.DS_Store
figs/
caffe/*.h5
tile.mp4
caffe/*.swp
caffe/*.caffemodel
caffe/*.solverstate
*.asv
*.js
images/
frames/**/*.mat
!frames/**/has_label.mat
!frames/**/label.mat
!frames/**/label_simple.mat
!frames/bbox.mat